@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box; 
  background-color:white;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.photo-frame {
  position: absolute;
  height: 12rem;
  width: 7.7rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-radius: 0 0 5px 5px;
}

.photo {
  position: relative;
  background-color: blue;
  color: aliceblue;
  height: 9rem;
  width: 6.6rem;
  bottom: 12px;
}

.photo-message {
  background-color: blue;
  color: aliceblue;
  text-align: center;
  height: 9rem;
}