@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  box-sizing: border-box; 
  background-color:white;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.title {
  color: black;
  text-align: center;
  font-size: 1.5rem;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

.photo-frame {
  position: relative;
  height: 12rem;
  width: 7.7rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-radius: 0 0 5px 5px;
}

.photo {
  position: relative;
  background-color: transparent;
  color: aliceblue;
  height: 9rem;
  width: 6.6rem;
  bottom: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* opacity: 0; */
  animation: 8s fade-in 3s cubic-bezier(0.44, 0.34, 0.82, 0.46) forwards;
  filter: contrast(200%);
  border: solid grey 1px;
  border-radius: 0 0 1px 1px;
}

.photo-message {
  background-color: transparent;
  color: aliceblue;
  text-align: center;
  font-size: 26px;
}

.navbar_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar_subcontainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
}

.user_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0.5rem;
}

.user_form input {
    margin: 0.15rem;
}

@keyframes fade-in {
  from {
    background-color: transparent;
  }
  to {
    background-color: blue;
  }
}